.content{
    background-color: initial;
    width: 800px;
    float: left;
}
.header {
    height: 10px;
    color: black;
}
.top{
    float: left;
}
.top-header{
    list-style: none;
    float:left;
    margin: 20px 50px;
}
.header a{
    color: white;
    text-decoration: none;
}
img{
    max-width: 80%;
}
.container{
    float: none;
    width: 1350px;
    margin: 0 auto;
}
.iconlienlac{
    list-style: none;
    float: right;
    margin-left: 20px;
}
figure{
    padding-right: 50px;
}
figcaption{
    text-indent: -10px;
    color: white;
}
.entry{
    width:75%;
    margin: 30px 110px;
    float:left;
}
.sidebar{
    margin-top: 100px;
}
.rightbar{
    width: 347px;
    height: 390px;
    opacity: 100%;
    float:right;
    padding: 22px;
    background-color:initial;
}
.rbcontain{
    text-align: center;
    float:left;
    margin: 10px auto;
    width:100%;
    height: 350px;
    font-size:14px;
    line-height: 1.5;
    overflow: hidden;
}
h3{
    color: white;
    padding: 5px;
}
.section {
    float: left;
    width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    background-image: url("../images/nhuongquyen3.jpg");
    background-size: cover;
}
h2 ,p{
    color: white;
}
.form{
    color: aliceblue;
}
input[type=text]{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #996633;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #F00000;
}
button[type=submit] {
    width: 35%;
    background-color: #FF3300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formdk{
    width: 900px;
    height: 600px;
    margin: auto;
}
