input[type=text]{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #996633;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;
}
input[type=password]{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #996633;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #FF00FF;
}
button[type=submit] {
    width: 41%;
    background-color: #FF00FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formdk{
    width: 900px;
    height: 600px;
    margin: auto;
}
main {
    background-size: auto;
    background-attachment: fixed;
    margin-bottom: -17px;
}
.section {
    float: left;
    height: 900px;
    margin: 0 auto;
    transition: 1000ms;
    background-size: cover;
    transform: translate(0px,55px);
    width: 25%;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    background-color:#00FFFF;
    background-size: cover;
}

